aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
alignn==2026.5.20
annotated-types==0.7.0
arro3-core==0.8.1
ase==3.28.0
asttokens==3.0.1
attrs==26.1.0
babel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_babel_1772555330/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1781450817/work
backrefs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backrefs_1777493261/work
bibtexparser==1.4.4
blake3==1.0.8
boto3==1.43.31
botocore==1.43.31
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1779285033994/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155979/work
cuda-bindings==12.9.4
cuda-pathfinder==1.2.2
cuda-toolkit==12.8.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
debugpy==1.8.21
decorator==5.3.1
deltalake==1.5.1
Deprecated==1.3.1
dgl==2.4.0+cu124
dnspython==2.8.0
emmet-core==0.87.1
executing==2.2.1
filelock==3.29.0
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1778770237442/work
frozenlist==1.8.0
fsspec==2026.4.0
ghp-import @ file:///home/conda/feedstock_root/build_artifacts/ghp-import_1734344360713/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1776068706467/work
inflect @ file:///home/conda/feedstock_root/build_artifacts/inflect_1735424053773/work
ipykernel==7.3.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jarvis-tools @ file:///home/conda/feedstock_root/build_artifacts/jarvis-tools_1775454681643/work
jedi==0.20.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jmespath==1.1.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
jupyter_client==8.9.1
jupyter_core==5.9.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067050/work
latexcodec==3.0.1
lmdb==2.2.1
loguru==0.7.3
lxml==6.1.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1770694658/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matbench==0.6
matminer==0.10.1
matplotlib==3.10.9
matplotlib-inline==0.2.2
mergedeep @ file:///home/conda/feedstock_root/build_artifacts/mergedeep_1734156985434/work
mkdocs @ file:///home/conda/feedstock_root/build_artifacts/mkdocs_1734344575329/work
mkdocs-get-deps @ file:///home/conda/feedstock_root/build_artifacts/mkdocs-get-deps_1773570568227/work
mkdocs-material @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mkdocs-material_1774620149/work
mkdocs-material-extensions @ file:///home/conda/feedstock_root/build_artifacts/mkdocs-material-extensions_1734640982920/work
monty==2026.5.18
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_more-itertools_1779478190/work
mp-api==0.46.4
mpmath==1.3.0
multidict==6.7.1
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1780672242/work
nest-asyncio2==1.7.2
networkx @ file:///home/task_176537855201373/conda-bld/networkx_1765378627621/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1779169200/work/dist/numpy-2.4.6-cp312-cp312-linux_x86_64.whl#sha256=d6484481626c8057fc4fb6bfae594630db97cddb21d66be50e1096c5ca99f638
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.19.0.56
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.28.9
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
orjson==3.11.9
packaging==26.0
paginate @ file:///home/conda/feedstock_root/build_artifacts/paginate_1734618550153/work
palettable==3.3.3
pandas==2.3.3
parso==0.8.7
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1777271521463/work
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1775060059/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1779972894/work
plotly==6.8.0
prompt_toolkit==3.0.52
propcache==0.5.2
psutil==7.2.2
ptyprocess==0.7.0
PubChemPy==1.0.5
pure_eval==0.2.3
pyarrow==24.0.0
pybtex==0.26.1
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pymatgen==2026.5.4
pymatgen-core==2026.5.18
pymatgen-io-validation==0.1.2
pymdown-extensions @ file:///home/conda/feedstock_root/build_artifacts/pymdown-extensions_1778686807050/work
pymongo==4.17.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.2
pytz==2026.2
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
pyyaml_env_tag @ file:///home/conda/feedstock_root/build_artifacts/pyyaml-env-tag_1747236954314/work
pyzmq==27.1.0
rclone==0.4.4
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
ruamel.yaml==0.19.1
s3transfer==0.19.0
safetensors==0.8.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scikit-learn_1780401052/work/dist/scikit_learn-1.9.0-cp312-cp312-linux_x86_64.whl#sha256=8f79beb9fcc7ec8e4116af7e6df1df036de7fcb7e64c6054eb9afff204aa18a5
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1779873994017/work/dist/scipy-1.17.1-cp312-cp312-linux_x86_64.whl#sha256=8a80a2a1584252bc5753f7a19c86f8a8c7729dacc98f5845c78b4205f8eae632
setuptools==70.2.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
spglib @ file:///home/conda/feedstock_root/build_artifacts/spglib_1767104252403/work
stack-data==0.6.3
sympy==1.14.0
tabulate==0.10.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1760707739667/work
torch==2.11.0+cu128
torch-geometric==2.8.0
torchvision==0.26.0+cu128
tornado==6.5.7
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1781094943/work
traitlets==5.15.1
triton==3.6.0
typeguard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typeguard_1778779291/work
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2026.2
uncertainties==3.2.3
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908957718/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_watchdog_1772608172/work
wcwidth==0.8.1
wheel==0.46.3
wrapt==2.2.1
xmltodict @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_xmltodict_1771770296/work
xxhash==3.8.1
yarl==1.24.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
